*{
    padding: 0;
    margin: 0;

}

body{
    font-family: Roboto;
    background: #1d3d56;
}

#container{
    height:525px;
    width: 360px;
    margin: 100px auto;
    background: #cc3e53;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    justify-content: center;
    align-items: center;
}

h1{
    background: #fed51c;
    color: #1d5668;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size:18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
p{
    padding-left: 20px;
    margin: 12px


}

form input[type="text"] {
  width=90px;
}

input{
    padding-left: 20px;
}

#billAmount{
    font-size: 14px;
    color: red;
    background: #f7f7f7;
    width: 60;
    padding: 5px 5px 8px 8px;
    border-style: none;
    border-radius: 9px;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

#billAmount:focus{
    background: #fff;
    border-radius:  3px solid #2980b9;
    -webkit-border-radius:  3px solid #2980b9;
    -moz-border-radius:  3px solid #2980b9;
    -ms-border-radius:  3px solid #2980b9;

    -o-border-radius:  3px solid #2980b9;
    outline: none;
}

#__share{

    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color:  red;
    background: #f7f7f7;
    font-size: 14px;
}
.poundSign{
    display: inline;
}